@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COMMON CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --poppins-font: "Poppins", sans-serif;

    /* Colors */
    --light-black: #333;
    --light-white: #f7f7f7;
    --light-red: #e3000e;
    --light-grey: #f6f9fa;
    --light-grey-2: #dddddd;
    --white: #fff;
    --yellow: #f7be27;
    --grey: #757575;
    --brown: #6f5e4d;
    --bg-coffee: #642f21;
}

body,
html {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

@media only screen and (max-width:991px) {

    body,
    html {
        font-size: 0.875rem;
    }
}

/* HEADLINE TAG */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins-font);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}

p {
    font-size: 16px;
}

a {
    color: var(--light-black);
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.heading {
    font-size: 56px;
    line-height: 1.2;
}

/* COMMON BUTTON */
.order_now {
    color: var(--light-black);
    background-color: var(--yellow);
    /* border-color: var(--yellow); */
    border: 1px solid var(--yellow);
    padding: 15px 38px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: var(--poppins-font);
    vertical-align: middle;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.order_now:hover,
.order_now:focus {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    /* border: var(--white); */
}

.btn_red {
    color: var(--white);
    background-color: var(--light-red);
    border: 1px solid var(--light-red);
    transition: all .4s ease-in-out;
    /* border-color: var(--light-red); */
}

.btn_red:hover,
.btn_red:focus {
    color: var(--light-red);
    background-color: transparent;
    border: 1px solid var(--light-red);
    /* border-color: var(--light-red); */
}